/**********************
    Global Settings
**********************/

*,
::after,
::before {
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html {
    background: linear-gradient(95deg, rgb(69, 69, 69), rgb(29, 29, 29));
}

img {
    border-radius: 5px;
}

#navigation {
    height: 10vh;
    padding: 0 30px;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    padding-top: 20px;
}

#navigation > a {
    color: orangered;
    text-decoration: none;
}

.app-container {
    margin-left: 5vw;
    width: 92vw;
    background: linear-gradient(95deg, rgb(69, 69, 69), rgb(29, 29, 29));
    color: snow;
}

header {
    font-size: 1.75em;
    padding: 20px 15px;
    font-weight: bold;
}

.container {
    height: inherit;
    width: inherit;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    margin-bottom: 50px;
    scrollbar-width: none;
}

.container > a {
    color: snow;
    text-decoration: none;
}

.movie,
.show,
.sport,
.romcom,
.standup {
    width: 400px;
    margin: 20px;
}

.movie-title,
.show-title,
.sport-title,
.romcom-title,
.standup-title {
    font-size: 1.5em;
    text-align: center;
    letter-spacing: .15em;
    margin-bottom: 20px;
}

.movie-year,
.show-year,
.sport-year,
.romcom-year,
.standup-year {
    text-align: right;
    font-style: italic;
    font-weight: 200;
}

.movie-image,
.show-image,
.sport-image,
.romcom-image,
.standup-image {
    height: 600px;
    width: 400px;
}

.movie-card {
    display: flex;
    justify-content: center;
}

.movie-card > section {
    width: 30vw;
    line-height: 2em;
}

/*********END OF FILE!!!*********/